<section class="section">
<% @post.id %>
    <div class="container">
        <h1 class="title"><%= @post.title%></h1>
        <div class="content">
            Post id: <%= @post.id%>
        </div>
        <div class="content">
            <%= @post.context%>
        </div>
    </div>
</section>

